html, body {
  font-size: 10px;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

#search-list {
  width: calc(100% - 9rem);
  float: left;
}

#search-device {
  margin: 1rem 0;
}

#bluetooth-switch {
  top: 0.5rem;
  left: 3.5rem;
}

#list-anchor {
  overflow-x: hidden;
  overflow-y: auto;
  height: 20rem;
}
